<div class="text-center">
    <h1 class="text-danger">لا تملك صلاحية الدخول</h1>
    <h6 class="text-danger">المستخدم الذي دخلت بواسطته لا يملك صلاحية دخول هذه الصفحة</h6>
    <img src="~/Untitled.png" />
</div>